{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenu {{ app.user.firstname }} Dans votre compte.<br> C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    <a href="{{ path('app_account_password')}}">Modifier mon mot de passe</a><br> 
    <a href="{{ path('app_account_address')}}">Gérer mes adresses</a><br>
    -Mes commandes<br>
    <hr>

{% endblock %}
