body {
    position: relative;
}


.navbar-item-custum, .navbar-item-custum a {
    color: white;
}

.footer-custom{
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 20px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item {
    margin-top: 15px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;

}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container{
    margin-bottom: 50px;
}

.product-page-price {
    font-size: 19px;

}